<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | LibraryPro</title>

    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>

<div class="container">

    <div class="dashboard-box">

        <h1>Login Successful 🎉</h1>

        <h2>Welcome to Library Dashboard</h2>

        <p>
            You have successfully logged into the
            Library Management System.
        </p>

        <a href="/" class="home-btn">
            Go To Home Page
        </a>

    </div>

</div>

</body>
</html>