<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraryPro</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <header class="navbar">

        <div class="logo">
            LibraryPro
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">Books</a>
            <a href="#">Members</a>
            <a href="#">Issue</a>
            <a href="#">Return</a>

        </nav>

    </header>

    <section class="hero">

        <div class="hero-left">

            <h3>Smart Digital Library Platform</h3>

            <h1>
                Manage Your Library Faster, Smarter and Better
            </h1>

            <p>
                LibraryPro helps colleges and schools manage books,
                students, issue records, returns and reports from one modern dashboard.
            </p>

            <div class="buttons">
                <a href="/login">
    <button class="btn1">Get Started</button>
</a>
                <button class="btn2">Explore Books</button>
            </div>

            <div class="stats">

                <div class="card">
                    <h2>1200+</h2>
                    <p>Books</p>
                </div>

                <div class="card">
                    <h2>350+</h2>
                    <p>Members</p>
                </div>

                <div class="card">
                    <h2>85+</h2>
                    <p>Issued</p>
                </div>

            </div>

        </div>

        <div class="hero-right">

            <div class="dashboard">

                <h2>Library Dashboard</h2>

                <p>Total Books <span>1200+</span></p>
                <p>Available Books <span>1115</span></p>
                <p>Issued Books <span>85</span></p>
                <p>Pending Returns <span>12</span></p>

            </div>

        </div>

    </section>

</body>
</html>