<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | LibraryPro</title>

    <link rel="stylesheet" href="/login.css">
</head>

<body>

<div class="container">

    <div class="login-box">

        <h1>Welcome Back</h1>

        <p>Login to continue to LibraryPro</p>

        <div th:if="${success}" 
             class="success-msg" 
             th:text="${success}">
        </div>

        <div th:if="${error}" 
             class="error-msg" 
             th:text="${error}">
        </div>

        <form action="/login" method="post">

            <input 
                type="email"
                name="email"
                placeholder="Email Address"
                required
            >

            <select name="role" required>

                <option value="">
                    Select Role
                </option>

                <option value="Student">
                    Student
                </option>

                <option value="Librarian">
                    Librarian
                </option>

                <option value="Admin">
                    Admin
                </option>

            </select>

            <input 
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <div class="register-link">

            New user?

            <a href="/register">
                Create Account
            </a>

        </div>

    </div>

</div>

</body>
</html>