<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students | LibraryPro</title>
    <link rel="stylesheet" href="/admin-page.css">
</head>
<body>

<div class="page-container">

    <h1>Registered Students</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Role</th>
        </tr>

        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.fullName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.mobile}"></td>
            <td th:text="${student.role}"></td>
        </tr>
    </table>

    <a href="/admin-dashboard" class="back-btn">Back to Dashboard</a>

</div>

</body>
</html>