<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard | LibraryPro</title>
    <link rel="stylesheet" href="/student-dashboard.css">
</head>
<body>

<div class="dashboard">

    <div class="card">

        <h1>Welcome Student</h1>

        <p>You have successfully logged in to LibraryPro.</p>

        <div class="options">
            <div class="options">
    <a href="/available-books">View Available Books</a>
    <a href="/my-issued-books">My Issued Books</a>
    <a href="/my-fines">My Fine</a>
    <a href="/profile">My Profile</a>
    <a href="/logout">Logout</a>
</div>
        </div>

    </div>

</div>

</body>
</html>